/*div{
    border: 2px solid black;
    border-radius: 1px;
    text-align: center;
    padding: 20px;
    font-family: inherit;
    box-shadow: 2px 4px 7px 4px yellowgreen;
    background-color: yellow;
   }*/
   
   